# Ambiente virtual
venv/
.venv/

# Arquivos do Poetry
.mypy_cache/
.pytest_cache/

# Arquivos de editores de código/IDE
.vscode/
.idea/
*.swp
.DS_Store

# Arquivos de build
dist/
build/
*.egg-info/

# Arquivos de sistema
desktop.ini
