# --- Python ---
__pycache__/
*.py[cod]
*.so
*.pyd

.venv/
venv/

build/
dist/
*.egg-info/

.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

.mypy_cache/
.pytype/
.ruff_cache/
.dmypy.json
.pyre/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
